packages/C5.2.3.0.1/C5.2.3.0.1.nupkg
packages/C5.2.3.0.1/lib/net35/C5.dll
packages/C5.2.3.0.1/lib/net40/C5.dll
packages/C5.2.3.0.1/lib/netcore45/C5.dll
packages/C5.2.3.0.1/lib/portable-net4+sl5+wp8+win8/C5.dll
packages/C5.2.3.0.1/lib/sl50/C5.dll
packages/C5.2.3.0.1/lib/wp8/C5.dll
packages/C5.2.3.0.1/lib/wpa81/C5.dll
Performance.psess
Report150613.vsp
TDigest.CMD.psess
TDigest.CMD/bin/Release/TDigest.CMD.vshost.exe
TDigest.CMD/bin/Release/TDigest.CMD.vshost.exe.config
TDigest.CMD/bin/Release/TDigest.CMD.vshost.exe.manifest
TDigest.CMD/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TDigest.CMD/obj/Debug/TDigest.CMD.csproj.FileListAbsolute.txt
TDigest.CMD/obj/Debug/TDigest.CMD.csprojResolveAssemblyReference.cache
TDigest.CMD/obj/Debug/TDigest.CMD.exe
TDigest.CMD/obj/Debug/TDigest.CMD.instr.pdb
TDigest.CMD/obj/Debug/TDigest.CMD.pdb
TDigest.CMD/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TDigest.CMD/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TDigest.CMD/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TDigest.CMD/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
TDigest.CMD/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TDigest.CMD/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TDigest.CMD/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TDigest.CMD150614.vspx
TDigest.Tests/bin/Debug/C5.dll
TDigest.Tests/bin/Debug/TDigest.dll
TDigest.Tests/bin/Debug/TDigest.pdb
TDigest.Tests/bin/Debug/TDigest.Tests.dll
TDigest.Tests/bin/Debug/TDigest.Tests.pdb
TDigest.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TDigest.Tests/obj/Debug/TDigest.Tests.csproj.FileListAbsolute.txt
TDigest.Tests/obj/Debug/TDigest.Tests.csprojResolveAssemblyReference.cache
TDigest.Tests/obj/Debug/TDigest.Tests.dll
TDigest.Tests/obj/Debug/TDigest.Tests.pdb
TDigest.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TDigest.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TDigest.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TDigest.Tests/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
TDigest.Tests/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TDigest.Tests/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TDigest.Tests/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TDigest.v12.suo
TDigest/bin/Debug/C5.dll
TDigest/bin/Debug/TDigest.dll
TDigest/bin/Debug/TDigest.dll.config
TDigest/bin/Debug/TDigest.instr.pdb
TDigest/bin/Debug/TDigest.pdb
TDigest/bin/Debug/TDigest.vshost.exe
TDigest/bin/Debug/TDigest.vshost.exe.config
TDigest/bin/Debug/TDigest.vshost.exe.manifest
TDigest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TDigest/obj/Debug/TDigest.csproj.FileListAbsolute.txt
TDigest/obj/Debug/TDigest.csprojResolveAssemblyReference.cache
TDigest/obj/Debug/TDigest.dll
TDigest/obj/Debug/TDigest.instr.pdb
TDigest/obj/Debug/TDigest.pdb
TDigest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TDigest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TDigest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TDigest/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
TDigest/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TDigest/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TDigest/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
